<div *ngIf=player.raceId>

    Sors zonak:
      <mat-slider
        thumbLabel
          class="example-margin"
          [min]="1"
          [max]="player.badFateBoundary"
          [step]="1"
          [(ngModel)]="player.goodFateBoundary"
          >
      </mat-slider>
      <mat-slider
      thumbLabel
        class="example-margin"
        [min]="goodFateBoundary"
        [max]="100"
        [step]="1"
        [(ngModel)]="player.badFateBoundary"
        >
    </mat-slider>
      Jártasságpont: {{(originalGoodFate - player.goodFateBoundary)* -150 + (originalBadFate - player.badFateBoundary)* 150}}
      <tr>
          <th>Jo</th>
          <th>Semleges</th>
          <th>Rossz</th>
        </tr>
        <tr>
          <td>1 - {{player.goodFateBoundary}}</td>
          <td>{{player.goodFateBoundary+1}} - {{player.badFateBoundary-1}}</td>
          <td>{{player.badFateBoundary}} - 100</td>
        </tr>
  </div>
  <hr>
