<div>
<button *ngFor="let race of races" (click)=selectRace(race)>{{race.name}}</button>
</div>
<hr>
<div *ngIf="selectedRace">{{selectedRace.summary}}</div>
<hr>
<!-- Age -->
<div *ngIf="selectedRace">
  <label for="age">Kor:</label>
    <input id="age" name="age" class="form-control" 
    [appRange]=[0,selectedRace.age.seniorMax]
    type="number"  [(ngModel)] = 'player.age' #age="ngModel" required>
  <table>
    <tr>
      <th>Fiatal Kor</th>
      <th>Felnott Kor</th>
      <th>Idos Kor</th>
    </tr>
    <tr>
      <td>0-{{selectedRace.age.juvenis}}</td>
      <td>{{selectedRace.age.juvenis+1}}-{{selectedRace.age.seniorMin-1}}</td>
      <td>{{selectedRace.age.seniorMin}}-{{selectedRace.age.seniorMax}}</td>
    </tr>
  </table>
</div>
<hr>
<!-- Main Attribues -->
<div *ngIf="selectedRace" class="form-group">
  <table>
    <tr>
      <th>Főértékek</th> 
      <td>Elkoltheto pontok:</td>
      <td>{{getRemainingAttributePoints()}}</td>
    </tr>
    <tr>
      <td>Fizikum</td>
      <td><input  id="physique" name="physique" class="form-control" 
        [appRange]=[selectedRace.foertekek.fizikum.min,selectedRace.foertekek.fizikum.max]
        type="number"  [(ngModel)] = 'player.physique.base' #physique="ngModel" ></td>
      <td>Erő</td>
      <td><input id="strenght" name="strenght" class="form-control" 
        [appPercentRange]='player.physique.base'
        type="number" [(ngModel)] = 'player.strenght.base' #strenght="ngModel"></td>
      <td>Szivósság</td>
      <td><input id="stamina" name="stamina" class="form-control" 
        [appPercentRange]='player.physique.base'
        type="number" [(ngModel)] = 'player.stamina.base' #stamina="ngModel"></td>
    </tr>
    <tr>
      <td>Rátermettség</td>
      <td><input  id="aptitude" name="aptitude" class="form-control" 
        [appRange]=[selectedRace.foertekek.ratermettseg.min,selectedRace.foertekek.ratermettseg.max]
         type="number"  [(ngModel)] = 'player.aptitude.base' #aptitude="ngModel" ></td>
      <td>Ügyesség</td>
      <td><input id="dexterity" name="dexterity" class="form-control" 
        [appPercentRange]='player.aptitude.base'
        type="number" [(ngModel)] = 'player.dexterity.base' #dexterity="ngModel"></td>
      <td>Reflex</td>
      <td><input id="reflex" name="reflex" class="form-control" 
        [appPercentRange]='player.aptitude.base'
        type="number" [(ngModel)] = 'player.reflex.base' #reflex="ngModel"></td>
    </tr>
    <tr>
      <td>Tudat</td>
      <td><input  id="consciousness" name="consciousness" class="form-control" 
        [appRange]=[selectedRace.foertekek.tudat.min,selectedRace.foertekek.tudat.max]
         type="number"  [(ngModel)] = 'player.consciousness.base' #consciousness="ngModel" ></td>
      <td>Intelligencia</td>
         <td><input id="intellect" name="intellect" class="form-control" 
           [appPercentRange]='player.consciousness.base'
           type="number" [(ngModel)] = 'player.intellect.base' #intellect="ngModel"></td>
      <td>Lelkierő</td>
         <td><input id="willpower" name="willpower" class="form-control" 
           [appPercentRange]='player.consciousness.base'
           type="number" [(ngModel)] = 'player.willpower.base' #willpower="ngModel"></td>
    </tr>
    <tr>
        <td>Esszencia</td>
        <td><input  id="essence" name="essence" class="form-control" 
          [appRange]=[selectedRace.foertekek.esszencia.min,selectedRace.foertekek.esszencia.max]
           type="number"  [(ngModel)] = 'player.essence.base' #essence="ngModel" ></td>
        <td>Varázserő</td>
           <td><input id="magicpower" name="magicpower" class="form-control" 
             [appPercentRange]='player.essence.base'
             type="number" [(ngModel)] = 'player.magicpower.base' #magicpower="ngModel"></td>
        <td>Esszencia Pajzs</td>
           <td><input id="essenceshield" name="essenceshield" class="form-control" 
             [appPercentRange]='player.essence.base'
             type="number" [(ngModel)] = 'player.essenceshield.base' #essenceshield="ngModel"></td>
      </tr>
  </table> 
</div>
<hr>
<!-- Specials -->
<div *ngIf="selectedRace">
  <table>
      <tr >
        <th>Név</th>
        <th>Ár</th>
        <th>Leirás</th>
      </tr>
    <tr *ngFor="let special of generateArray(selectedRace.specials)" >
      <td><input type="checkbox" [(ngModel)]="special.isSelected" (change)="checkSpecial(special)" />{{special.name}}</td>
      <td>{{special.cost}}</td>
      <td>{{special.info}}</td>
    </tr>
  </table>
</div>

